 span {
     display: block; 
 }

 .translateArea {
     color: aliceblue;
     font-size: 36px;
     position: fixed;
     top: 0;
     z-index: 99999!important;
     background-color: rgba(214, 213, 213, 0.521);
     padding: 10px;
     border-radius: 6px;
     display: none;
 }
 @keyframes highlight {
    0% {
        color: #3ac219;
     }
    100% {
        color: none; 

    }
}

.highlight {
    animation: highlight 1s;
}